.footer__copyright {
  display: flex;
  justify-content: flex-end;
  flex: 0 1 60%;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    flex: 1 1 100%;
    justify-content: flex-start;
    align-items: center;
  }
}