.footer__nav {
  display: flex;
  justify-content: space-between;
  flex: 1 0 40%;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
    flex: 1 1 100%;
    align-items: flex-start;
  }
}